@use "../../css/themes" as *;

.stats-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 1.3rem;
  width: 100%;
    padding:1rem;
    background-color:var(--color-card-bg-strong);
}

.stat-element {
  min-width: 110px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.stat-value {
  display: block;
  font-size: 2.1rem;
  font-weight: 600;
}

.stat-label {
  display: block;
  font-size: 1rem;
}