.scroll-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 300px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);;
  mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
}


.scroll-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5vh;
  animation: scrollUp 30s linear infinite;
}

.scroll-content:hover {
  animation-play-state: paused;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%); /* scroll through first list only */
  }
}

.scroll-card {
    width: 80%;
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.28);
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 18px 45px rgba(15, 23, 42, 0.08);  
    opacity: 1;
}

/* text & avatar */
.wheel-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
}

.wheel-person {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.wheel-avatar {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  object-fit: cover;
}

.wheel-name {
  font-weight: 600;
}

.wheel-role {
  font-size: 0.85rem;
  color: #777;
}

.center-hub {
  position: relative;
  top: 50%;
  right: -50px;
  transform: translate(-50%, 50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.center-hub-inner {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  text-align: center;
}